* {
    margin: 0px;
    padding: 0px;
}

body {
    justify-content: center;
    display: flex;
}

.account {
    margin-top: 3%;
    width: 288px;
    justify-content: space-between;
    display: flex;
}

.accountX, .accountO {
    color: rgb(28, 114, 25);
    font-size: 40px;
}

.game {
    position: absolute;
    margin-top: 8%;
    width: 288px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.block, .X, .O {
    width: 70px;
    height: 70px;
    padding: 10px;
    margin: 3px;
    background: rgb(43, 97, 141);
    font-size: 70px;
    text-align: center;
}

.lines {
    position: absolute;
    z-index: -1;
    margin-top: 8%;
    width: 288px;
    height: 288px;
    /* background: #000; */
    display: flex;
}

.vertical {
    position: absolute;
    padding: 3px;
    display: flex;
}

.vertical > div {
    width: 6px;
    height: 283px;
    margin-left: 90px;
    border-radius: 6px;
    background: linear-gradient(90deg, rgb(248, 246, 106), rgb(116, 91, 9));
}

.horizontal {
    padding: 3px;
}

.horizontal > div{
    width: 283px;
    height: 6px;
    margin-top: 90px;
    border-radius: 6px;
    background: linear-gradient(rgb(248, 246, 106), rgb(116, 91, 9));
}
